<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Graph</title>
</head>
<body>
    {{message}}
    <br>
    {% if status_code %}
        Status code: {{status_code}}
    {% endif %}
    <br>
    {% if route %}
        Route: {{route}}
    {% endif %}
    <form action="{% url 'new_graph' %}" method="POST">
        {% csrf_token %}
        <div class="routes">
            <label for="routes">Source, Target, Distance*: </label>
            <textarea placeholder="Ex: AB4" autofocus name="routes" id="routes" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <p>
        * Distance deve ser um número inteiro. <br>
        Exemplo de rota: AB4 (source, target, distance). <br>
        As rotas devem ser separadas por vírgula ",".
    </p>

    <br><br>

    <a href="{% url 'index' %}">Início</a>
</body>
</html>